{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - SlikApp</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
			 <link rel="stylesheet" type="text/css" href="{% static 'slikapp/css/bootstrap.min.css' %}" />
    <script src="{% static 'slikapp/js/jquery-1.10.2.min.js' %}"></script>

</head>
<body>

    <div class="container" style="width: 1000px">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>