{% extends "slikapp/base.html" %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block content %}
	<div class="row-fluid text-center" style="padding-top: 30px;">
		<form class="" method="post" action="/upload/" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="input-append">
	    <input id="id_datoteka" name="datoteka" type="file">
	    <input id="id_opis" maxlength="200" name="opis" type="text" placeholder="Opis slike">
	    <input type="submit" class="btn btn-primary" value="Upload">
	    </div>
		</form>
	</div>
	{% if sve_slike %}
		<div class="row">
	      <ul class="thumbnails">
	          {% for slika in sve_slike %}
		          <li class="span3" >
		              <a href="{% url 'slikapp:slika' slika.id %}" class="thumbnail">
			              	<img src="{{ slika.datoteka.url }}" alt="{{ slika.opis }}" style="max-height: 150px">
			              	<p class="text-center">{{ slika.opis }}</p>
		              </a>
		          </li>
		           {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
	          {% endfor %}
   </div>
  </div>
  
  <div class="row-fluid text-center" style="padding-bottom: 30px">
    <span class="step-links">
        {% if sve_slike.has_previous %}
            <a href="?stranica={{ sve_slike.previous_page_number }}">prethodna</a>
        {% endif %}

        <span class="current">
            {{ sve_slike.number }} / {{ sve_slike.paginator.num_pages }}
        </span>

        {% if sve_slike.has_next %}
            <a href="?stranica={{  sve_slike.next_page_number }}">sljedeća</a>
        {% endif %}
    </span>
  </div>
		
	{% else %}
		    <p>Nema slika :(</p>
	{% endif %}
{% endblock %}