{% extends "slikapp/base.html" %}
{% load staticfiles %}

{% block title %}Upload{% endblock %}

{% block content %}
	<form class="" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
                
	    {% for field in form %}
	        {{ field }}<br />
	    {% endfor %}
	
	    <input type="submit" class="btn btn-primary" value="Pohrani sliku">
	</form>
	
{% endblock %}
